@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f8ff;
    font-family: Poppins;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #676983;
    font-weight: 799;
}

.buttons{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #6370f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    width: 100px;
    font-size: 15px;
}

select{
    width: 110px;
    background-color:  #cccddf;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    color: #606061;
}

select:focus{
    outline: none;
}


.display{
    background-color: #ecedf6;
    width: 40%;
    border-radius: 5px;
}


.form{
    display: none;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form h3{
    text-align: left;
}

#task{
    width: 100%;
    padding: 10px;
    font-size: medium;
    outline: none;
}




#d-btn{
    background-color: #d9534f;
    padding: 5px;
    width: 50px;
    font-size: small;
    margin-right: 10px;
}

#e-btn{
    background-color: #5cb85c;
    padding: 5px;
    width: 50px;
    font-size: small;
    margin-right: 10px;
}


#displayTask tr{
    display: flex;
    justify-content: space-between;
}

td{
    padding: 15px;
}